asgiref==3.9.1
certifi==2025.8.3
distlib==0.4.0
Django==4.2.24
filelock==3.19.1
numpy==2.0.2
packaging==25.0
pandas==2.3.3
pipenv==2025.0.4
platformdirs==4.4.0
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
virtualenv==20.34.0
